<div class="col-10  mt-5 row">
    {{#each tienda}}
        <div class="col-4 elemento buscador">
            <div class="card">
                <div class="card-body row justify-content-center">
                    <h5 class="card-title col-12 d-flex justify-content-center texto2"> {{ nombre }}</h5>
                    <img src="{{imagen}}" class="imagen" alt="{{nombre}}">
                    <p class="card-text d-flex justify-content-center texto2"> U$S {{ precio }}</p>
                    <div class="botones d-flex justify-content-center componentes">
                        <!-- Botón "Comprar" -->
                        <button class="btn btn-primary boton boton2" onclick="comprarProducto('{{modelo}}')">Comprar</button>
                        <!-- Botón "Añadir al Carrito" -->
                        <button class="btn btn-secondary boton boton2" onclick="agregarAlCarrito('{{modelo}}')">Añadir al Carrito</button>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<script>
    function agregarAlCarrito(modelo) {
        fetch('/agregarCarrito', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ modelo })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'ok') {
                alert('Producto agregado al carrito');
            } else {
                alert('El producto ya está en el carrito');
            }
        });
    }
</script>